vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_webservertype:SR|apache-fp
vti_usagebymonth:UX|4 78 34 10 75 126 19 44 63 18 20 49 31
vti_usagevisitsbyweek:UX|0 5 7 5 7
vti_oldestcompatibleversion:SR|2.0.0.0
vti_usagelastformat:SX|1 2 2 L 
vti_usagevisitsbymonth:UX|2 25 23 10 22 18 14 18 19 12 17 24 26
vti_usagelastupdated:TX|06 Nov 2005 10:02:22 -0000
vti_textindexood:IR|0
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_usagevisitsbyday:UX|0 1 0 0 1 0 1 2
vti_approvallevels:VR|Approved Denied Pending\\ Review
vti_hassearchbot:BR|false
vti_dependenciesood:IR|0
vti_usagehitsbyday:UX|0 1 0 0 1 2 2 62
vti_usagefirstdata:TX|01 Nov 2004 06:00:00 -0000
vti_usagebyweek:UX|0 57 7 5 8
vti_usagebyday:UX|0 1 0 0 1 2 1 52
vti_usagehitsbymonth:UX|4 101 42 21 103 155 31 53 64 53 32 58 112
vti_usagehitsbyweek:UX|0 68 18 5 9
vti_usagelastmarker:SX|173 338 68.142.251.157 - - [05/Nov/2005:04:39:58 -0600] "GET / HTTP/1.0" 200 22163 "-" 
vti_featurelist:VX|vti_ACGroups vti_ACUseDomains vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerIndexServer vti_ServerODBC vti_ServerASP vti_ServerCollab vti_TimedDocEvents
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_usagelastlog:SX|/home/virtual/site18/fst/var/log/httpd/access_log.11-05-05
vti_approvalapproved:SR|Approved
vti_approvaldenied:SR|Denied
vti_defaultcharset:SR|windows-1252
vti_autorecalc:IX|1
vti_disableautoimgsizeexts:SX|.asp
vti_createpostinfo:BX|false
vti_extenderversion:SR|5.0.2.2623
vti_usageserverlastupdated:TX|06 Nov 2005 10:02:22 -0000
vti_usagedownload:UX|88 1019 603 270 976 1305 399 599 693 430 449 719 1060
